<h2>Issue Colors Label Settings</h2>

<%= javascript_include_tag '../vendor/colpick.js', :plugin => 'issue_color_label' %>
<%= stylesheet_link_tag '../vendor/colpick.css', :plugin => 'issue_color_label' %>

<%= stylesheet_link_tag 'settings.css', :plugin => 'issue_color_label' %>
<%= javascript_include_tag 'settings.js', :plugin => 'issue_color_label' %>

<div id="icl_settings">
	<% if (@isUserAdmin) %><form method="post" action="update_settings"><% end %>
		<div class="row">
			<h3>Enabled:</h3>
			<label>
				<input type="checkbox" value="1" <%= (@is_enabled ? 'checked="checked"' : '') %> name="enabled"> Yes
			</label>
		</div>

		<% @dataset = {'tracker' => @tracker_list, 'priority' => @priority_list, 'status' => @status_list} %>
		<div class="row">
			<% @dataset.each_pair do |groupCode, groupValues| %>

			<div class="span-4">
				<h3><%= groupCode %>:</h3>
				<table width="95%" border="0" cellpadding="0" cellspacing="0">
					<tr class="header">
						<td></td>
						<td>Color</td>
						<td>Background color</td>
						<td>Background image</td>
						<td></td>
					</tr>
					<% groupValues.each do |t| %>
						<% @key = groupCode + "-" + t['id'].to_s %>
						<tr class="item">
							<td id="target_<%= @key %>" class="text"><%= t.read_attribute('name') %></td>
							<td>
								<% @option_code = "color" %>
								<div class="picker" id="<%= @option_code %>_<%= @key %>"></div>
								<input id="select_<%= @option_code %>_<%= @key %>" type="hidden" name="css[<%= @key %>][<%= @option_code %>]" 
									class="selectors" value="<%= (!@settingsDisplay[@key][@option_code].nil?) ? @settingsDisplay[@key][@option_code] : '' %>">
							</td>
							<td>
								<% @option_code = "background-color" %>
								<div class="picker" id="<%= @option_code %>_<%= @key %>"></div>
								<input id="select_<%= @option_code %>_<%= @key %>" type="hidden" name="css[<%= @key %>][<%= @option_code %>]" 
									class="selectors" value="<%= (!@settingsDisplay[@key][@option_code].nil?) ? @settingsDisplay[@key][@option_code] : '' %>">
							</td>
							<td>
								<% @option_code = "background-image" %>
								<div class="<%= @option_code %>" id="<%= @option_code %><%= @key %>">edit</div>
								<input id="select_<%= @option_code %>_<%= @key %>" type="hidden" name="css[<%= @key %>][<%= @option_code %>]" 
									class="selectors" value="http://redmine.dev/images/add.png">
									<!-- class="selectors" value="<%= (!@settingsDisplay[@key][@option_code].nil?) ? @settingsDisplay[@key][@option_code] : '' %>"> -->
							</td>
							<td><input type="button" class="reset" id="reset_<%= @key %>" value="Reset" /></td>
						</tr>
					<% end %>
				</table>
			</div>
			<% end %>

			<div class="clear"></div>
		</div>

	<% if (@isUserAdmin) %>
		<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
		<input type="submit" value="Save">
		<input type="reset" value="Reset">
	</form>
	<% end %>
</div>